*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

body{
    background-color: rgb(16, 0, 104);
}

header{
    width: 100%;
    height: 13%;
    display: flex;
    padding-top: 5%;
    padding-left: 2%;
}

#oi{
    width: 21%;
    height: 88%;
    background-color: aliceblue;
    border-radius: 100%;
    margin-left: 7px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.info{
    width: 85%;
    height: 20%;
    margin-top: 20px;
}
.interagir{
    width: 85%;
    height: 30px;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.seguir, .mensagem{
    width: 40%;
    height: 100%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: white;
}

.images{
    width: 95%;
    height: 650px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}
.oi3{
    width: 30%;
    height: 20%;
    background-color: rgb(42, 63, 255);
    margin-left: 10px;
    box-shadow: 10px 10px 10px 10px rgba(19, 0, 57, 0.385);
    border-radius: 5%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 190px;
}


#oi2{
    width: 12%;
    height: 95%;
    background-color: aliceblue;
    border-radius: 100%;
}
.menu{
    width: 100%;
    height: 7%;
    background-color: rgba(0, 17, 255, 0.952);
    display: flex;
    justify-content: center;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
}