body{
    width:100vw;
    height: 100vh;
}
.circulos {
    width: 150px;
    height: 150px;
    background-color: rgb(71, 119, 86);
    border-radius: 75px; 
    position: absolute;
}

#primeiro{
    bottom: 0px;
    right: 0px;
}
#segundo{
    top: 0px;
    left: 0px;

}
#terceiro{
    bottom: 0px;
    left: 0px;
}
#quarto{
    top: 0px;
    right: 0px;
}
#quinto{
    top: 50%;
    left: 50%;

}