* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
}

#menudrop{
    width: 60%;
    height: 100%;
    background-color: rgba(0,0,0, 0.5);
    position: absolute;
    top: 0px;
    left: -100%; /*a div do menudrop virá da esquerda*/
    color: white;
}

#menu{
    display: none; /* deixa invisivel o checkbox*/
}

#menu:checked ~ #menudrop { /*aqui mudará quando clicar*/
   left: 20%;
   background-color: red;
}



